@model EntityLayer.Concrete.Admin
@{
    ViewBag.Title = "AddAdmin";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Yeni Admin Ekleme Sayfası</h1>
<br />
@using (Html.BeginForm("AddAdmin", "Authorization", FormMethod.Post))
{
    <div class="form-group">

        <label>Kullanıcı Adı</label>
        @Html.TextBoxFor(x => x.AdminUserName, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.AdminUserName, "", new { @class = "text-danger" })
        <br />
        <label>Şifre</label>
        @Html.TextBoxFor(x => x.AdminPassword, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.AdminPassword, "", new { @class = "text-danger" })
        <br />
        <label>Rolü</label>
        @Html.DropDownListFor(x => x.AdminRole, new SelectList(ViewBag.vlr, "Value", "Text"), "Rol Seçin", new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.AdminRole, "", new { @class = "text-danger" })
        <br />
        <button class="btn btn-success">Kaydet</button>

    </div>
}