@model EntityLayer.Concrete.Admin
@{
    ViewBag.Title = "EditAdmin";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h2>Admin Güncelleme Sayfası</h2>

@using (Html.BeginForm("EditAdmin", "Authorization", FormMethod.Post))
{
    <div class="form-group">

        @Html.HiddenFor(x => x.AdminId)
        <label>Kullanıcı Adı</label>
        @Html.TextBoxFor(x => x.AdminUserName, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.AdminUserName, "", new { @class = "text-danger" })
        <br />
        <label>Şifre</label>
        @Html.TextBoxFor(x => x.AdminPassword, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.AdminPassword, "", new { @class = "text-danger" })
        <br />
        <label>Rolü</label>
        @Html.DropDownListFor(x => x.AdminRole, new SelectList(ViewBag.vlr, "Value", "Text"), "Rol Seçin", new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.AdminRole, "", new { @class = "text-danger" })
        <br />
        <button class="btn btn-info">Güncelle</button>

    </div>
}
@*@Html.ValidationMessageFor(x => x.AdminRole, "", new { @class = "text-danger" })*@