@model EntityLayer.Concrete.Heading
@{
    ViewBag.Title = "EditHeading";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Başlık Güncelleme Sayfası</h2>

@using (Html.BeginForm("EditHeading", "Heading", FormMethod.Post))
{
    <div class="form-group">

        @Html.HiddenFor(x => x.HeadingID)
        <label>Başlık Adı</label>
        @Html.TextBoxFor(x => x.HeadingName, new { @class = "form-control" })
        <br />
        <label>Tarih</label>
        @Html.TextBoxFor(x => x.HeadingDate, new { @class = "form-control" })
        <br />
        <label>Yazar ID</label>
        @Html.TextBoxFor(x => x.WriterID, new { @class = "form-control" })
        <br />
        <label>Kategori</label>
        @Html.DropDownListFor(x => x.CategoryID, (List<SelectListItem>)ViewBag.vlc, new { @class = "form-control" })
        <br />
        <button class="btn btn-info">Güncelle</button>

    </div>
}