@model EntityLayer.Concrete.About
@{
    ViewBag.Title = "UpdateAbout";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Hakkımızda Güncelleme Sayfası</h2>
<br />

@using (Html.BeginForm("UpdateAbout", "About", FormMethod.Post))
{
    <div class="form-group">

        @Html.HiddenFor(x => x.AboutID)
        <label>Metin 1</label>
        @Html.TextBoxFor(x => x.AboutDetails1, new { @class = "form-control" })
        <br />
        <label>Metin 2</label>
        @Html.TextBoxFor(x => x.AboutDetails2, new { @class = "form-control" })
        <br />
        <label>Görsel 1</label>
        @Html.TextBoxFor(x => x.AboutImage1, new { @class = "form-control" })
        <br />
        <label>Görsel 2</label>
        @Html.TextBoxFor(x => x.AboutImage2, new { @class = "form-control" })
        <br />
        <button class="btn btn-info">Güncelle</button>

    </div>
}